body{
	background-color: #121211;
	font-family: Arial, Verdana;
	color: white;
}

div.container{
	width: 600px;
	position: relative;
	height: 160%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #2b2b2b;
	border-radius: 10px;
	-moz-border-radius: 10px; /* Firefox 3.6 and earlier */
}


.size_box h2.size_select{
	text-align: center;
	font-size: 20px;
	display: table-cell;
	top: 50%;
	margin: 0px;
	vertical-align: middle;
	letter-spacing: -1px;
	font-weight: bold;
}

.size_box{
	width: 125px;
	height: 35px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 35px;
	float: left;
	position: relative;
	text-align: left;
	padding: 3px;
	background-color: #666666;
	margin-bottom: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
}


input.bigbox{
	margin:0px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
}

textarea.bigbox{
	font-size: 14px;
	margin-left: 50px;
	margin-top: 15px;
	font-family: arial, Verdana;
	width: 500px;
	height: 100px;
	font-size: 15px;
	border: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.submit{
	margin-top: 395px;
	border: 1px solid 2d2d2d; 
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 20px;
	width: 125px;
	height: 50px;
	color: white;
	cursor: pointer;
	background: #a8a8a8; /* Old browsers */
	background: -moz-linear-gradient(top, #a8a8a8 0%, #686868 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8a8a8), color-stop(100%,#686868)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a8a8a8 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a8a8a8 0%,#686868 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a8a8a8 0%,#686868 100%); /* IE10+ */
	background: linear-gradient(top, #a8a8a8 0%,#686868 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
}	

.submit:hover{
	margin-top: 395px;
	border: 1px solid 2d2d2d; 
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 20px;
	width: 125px;
	height: 50px;
	color: white;
	cursor: pointer;
	background: #686868; /* Old browsers */
	background: -moz-linear-gradient(top, #686868 0%, #a8a8a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #686868 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #686868 0%,#a8a8a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #686868 0%,#a8a8a8 100%); /* IE10+ */
	background: linear-gradient(top, #686868 0%,#a8a8a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
}


h1{
	padding: 5px;
	font-size: 25px;
	margin: -10px;
}

div.pallet_box{
	margin-top: 10px;
	padding: 10px;
	width: 93%;
	height: 400px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #121212;
	overflow: auto;
	overflow-x: hidden;
}

div.pallet{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 50px;
	height: 50px;
	float: left;
	position: relative;
	text-align: left;
	width: 250px;
	padding: 3px;
	background-color: #666666;
	margin-bottom: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
}	
.pallet h2{
	display: table-cell;
	top: 50%;
	margin: 0px;
	vertical-align: middle;
	letter-spacing: -1px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.pallet_color{
	margin-top: 5px;
	margin-left: 3px;
	float: right;
	text-align: left;
	height: 40px;
	width: 40px;
	border: 1px solid #878787;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.pallet_input{
	visibility: hidden;
	}