	<div class="header_panel_options">
		<div class="header_panel_options_header"><center>
			<img src="images/close.png" style="float: left; margin-left: 3px;" class="close_header_options_panel">
			Main Header Panel Options</center>
		</div>
		<div class="header_panel_options_content">
			<form action="PHP/generate_header.php" method="post">
			
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Title</h2>
				<input class="bigbox" style="margin-bottom: 0px; margin-right: 10px; float: right;" name="title">
				<br><br><br>
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Sub Header</h2>
				<input class="bigbox" style="margin-bottom: 0px; margin-right: 10px; float: right;" name="author">
				<br><br>
				<br>
				
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Description</h2>
				<textarea name="description" class="bigbox"></textarea>
				
				<br><br>
				<br><br><br><br>
				
				<h2 style="margin-bottom:15px; margin-top:0px; margin-left: 10px; margin-right: 10px;">Layout</h2>
				<div class="header_layout">
					<img src="images/header_small_sample.png">
					
					<img src="images/header_medium_sample.png">
					
					<img src="images/header_large_sample.png">
					<br><br><br>
					<input style="margin-left: 97px;" type="radio" name="layout" value="one">
					<input style="margin-left: 175px;" type="radio" name="layout" value="two">
					<input style="margin-left: 175px;" type="radio" name="layout" value="three">
				</div>
				<center><input class="submit" type="submit"></center>
				<input style="display: none;" id="size" <?php if($_GET['size'] != null) echo("value='".$_GET['size'] ."'"); ?>class="pallet_input" name="size"><br>
				<input style="display: none;" id="pallet" class="pallet_input" <?php if($_GET['pallet'] != null) echo("value='".$_GET['pallet'] ."'"); ?> name="pallet"><br>
				<input style="display: none;" id="font" <?php if($_GET['font'] != null) echo("value='".$_GET['font'] ."'"); ?>  name="font"><br>
			</form>
		</div>
	</div>