body {
	font-family:Arial, Verdana;
	background-color: #FFFFF;
}

div.box1 {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	background-color: #d3d3d3;
	padding: 10px;
}

b{
	font-weight: normal;
}

.picker{
	margin-left: 75%;
}

.line {
	height: 1px;
	width: 100%;
	background-color: #2d2d2d;
}