.bigbox_bar{
	margin:0px;
	width: 200px;
	height: 35px;
	font-size: 16px;
	border: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
}

.add_more_data{
	float: right;
	margin-right: 15px;
	margin-top:0px;
	cursor: pointer;
	}
.remove_last_input{
	float: right;
	margin-right: 37px;
	margin-top:0px;
	cursor: pointer;
	}

.bar_panel_options{
	width: 600px;
	max-height: 600px;
	z-index: 1000;
	position: absolute;
	margin-left: 25%;
	margin-top: 75px;
	top:0px;
	left:0px;
	float: left;
	border: 1px solid #878787;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: url('../images/options_window_background.jpg');
	background-repeat: repeat-x;
	display: none;	
	background-color: #3d3d3d;
}

.bar_panel_options_content{
	overflow-y: scroll;
}

.bar_panel_options_header{
	background: #dbdbdb; /* Old browsers */
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b7b7b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* IE10+ */
	background: linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border-bottom: 2px solid #121212;
}

.bar_panel_options_header:hover{
	cursor: move;
}

.close_bar_options_panel:hover{
	cursor: pointer;
	}