.font_selector{
	width: 600px;
	margin-left: 5px;
	height: 300px;
	z-index: 1000;
	top:0px;
	left:auto;
	position: absolute;
	float: right;
	border-left: 1px solid #878787;
	border-right: 1px solid #878787;
	border-bottom: 1px solid #878787;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: 3d3d3d;
	display: none;
}


.font_button{
	width: 100px;
	height: 30px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 10px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 35px;
	float: left;
	position: relative;
	text-align: left;
	padding: 3px;
	background-color: #666666;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.font_button_clicked{
	width: 100px;
	height: 45px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 10px;
	max-height: 50px;
	border-top: 1px solid #878787;
	border-left: 1px solid #878787;
	border-right: 1px solid #878787;
	border-bottom: 1px solid #222222;
	display: table;
	min-height: 35px;
	float: left;
	position: relative;
	text-align: left;
	padding: 3px;
	background-color: #3d3d3d;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
}

.font{
	cursor: pointer;
	max-height: 50px;
	border: 1px solid black;
	display: table;
	min-height: 50px;
	height: 50px;
	float: left;
	position: relative;
	text-align: left;
	width: 100%;
	padding: 3px;
	color: 000000;
	background-color: #FFFFFF;
	margin-bottom: auto;
	border-radius: 5px;
	padding-left: 5px;
	-moz-border-radius: 5px;
}

.font h2{
	display: table-cell;
	top: 50%;
	margin: 0px;
	vertical-align: middle;
	letter-spacing: -1px;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}
	
