.pallet_selector{
	width: 600px;
	margin-left: 5px;
	height: 300px;
	z-index: 1000;
	top:0px;
	left:0px;
	position: absolute;
	float: left;
	border-left: 1px solid #878787;
	border-right: 1px solid #878787;
	border-bottom: 1px solid #878787;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	background-color: 3d3d3d;
	display: none;
	overflow-y: scroll;
}

.pallet_button{
	width: 100px;
	height: 30px;
	margin-left: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 10px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 35px;
	float: left;
	position: relative;
	text-align: left;
	padding: 3px;
	background-color: #666666;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.pallet_button_clicked{
	width: 100px;
	height: 45px;
	margin-left: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 10px;
	max-height: 50px;
	border-top: 1px solid #878787;
	border-left: 1px solid #878787;
	border-right: 1px solid #878787;
	border-bottom: 1px solid #222222;
	display: table;
	min-height: 35px;
	float: left;
	position: relative;
	text-align: left;
	padding: 3px;
	background-color: #3d3d3d;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
}

div.pallet{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 50px;
	height: 50px;
	float: left;
	position: relative;
	text-align: left;
	width: 250px;
	padding: 3px;
	background-color: #666666;
	margin-bottom: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.pallet h2{
	display: table-cell;
	top: 50%;
	margin: 0px;
	vertical-align: middle;
	letter-spacing: -1px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.pallet_color{
	margin-top: 5px;
	margin-left: 3px;
	float: right;
	text-align: left;
	height: 40px;
	width: 40px;
	border: 1px solid #878787;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

div.pallet_box{
	margin-top: 10px;
	padding: 10px;
	width: 93%;
	height: 400px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #121212;
	overflow: auto;
	overflow-x: hidden;
}